* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a, button, input[type=button], input[type=submit] {
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,opacity .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,opacity .15s ease-in-out;
    cursor: pointer;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.538462;
	height: 100%;
	max-height: 100vh;
	background-image: linear-gradient(29deg, #ff512f, #dd2476);
	background-size: 100%;
}

.main {
	padding-top: 3.75rem;
}

.forma {
	background: #ffffff;
	margin: 0 auto;
	margin-bottom: 0.625rem;
	padding: 2rem 1.6875rem 2rem 1.6875rem;
	width: 43%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.forma__icon {
/*	display: inline-block;*/
	margin-right: 0.5rem;
}

.forma__title {
	font-size: 1.5rem;
	color: #1b1c1d;
	font-weight: bold;
	margin: 0;
	margin-bottom: 1rem;
/*	vertical-align: middle;*/
}

.forma__description {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #7a7b7f;
	margin-bottom: 2.125rem;
}

.forma__link {
	color: #ea355a;
	text-decoration: none;
}

.forma__link:hover {
	text-decoration: underline;
}

.forma__link:focus {
	color: #b52853;
}

.wrapper {
	font-size: 0;
}

.form-registration {
	font-size: 0;
	margin-bottom: 1.625rem;
}

.forma-registration__input-field {
	border: none;
	border-radius: 4px;
	background-color: #f0f0f0;
	padding: 0.4375rem 0.875rem 0.4375rem 0.875rem;
	font-size: 0.875rem;
	margin-bottom: 0.9375rem;
	width: 100%;
	outline-color: transparent;
	transition: background-color 0.5s ease, outline-color 0.5s ease;
}

.forma-registration__input-field--small {
	width: 48.5%;
	margin-right: 3%;
}

.forma-registration__input-field--small + .forma-registration__input-field--small {
	margin-right: 0;
}

.forma-registration__input-field:hover {
	background-color: #dcd9d9;
	outline-color: #ea355a;
}

.forma-registration__input-field:focus {
	background-color: #dcd9d9;
	outline-color: #ea355a;
}

.forma-registration__input-field:active {
	background-color: #f0f0f0;
	outline-color: #ea355a;
}

.btn {
	width: 100%;
	padding: 0.888888em 1.333333em 0.888888em 1.333333em;
  	font-size: 1.125rem;
  	color: #ffffff;
  	margin-bottom: 0;
	font-weight: bold;	
	line-height: 1;
	text-align: center;
	white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    background: #ea355a;
	border: none;
	box-shadow: 0 3px 0 #bd1962;
	border-radius: 4px;
	outline: none;
}

.btn:hover {
	background-color: #ad1a40;
}

.btn:focus {
	background-color: #cc2a3d;
}

.btn:active {
	background-color: #ad1a40;
	color: #f1152f;
}  